# MacOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript Compiler output
*.js
!jest.config.js
*.d.ts

# Vite
dist
dist-ssr
*.local

# CDK asset staging directory
.cdk.staging
cdk.out

# Private configuration files
.envrc